body {
    background-color: black;
    color: white;
}

nav {
    display: flex;
    gap: 30px;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav a:hover {
    color: rgb(8, 94, 109);
}